.woocommerce div.product form.cart div.quantity{
  margin: 0;
}

.single_add_to_cart_button.button{
  height: 46px;
}

.woocommerce div.product .product_meta{
  display: none;
}

.woocommerce div.product .product_title{
  text-transform: uppercase;
  font-size: 21px;
}